*.class
*.iws
*.iml
*.ipr
.idea
.idea/*
*.bak
target
build/
bin-debug/
bin-release-temp/
.gradle/
bin/
test-reports/*
.DS_Store
xcuserdata/
DerivedData/
.project
.pydevproject
.settings/
dist/
saccounts_oauth.egg-info/
*.pyc
*.log
*.stats
